body{
    background-color: rgb(130, 238, 238);
    font-family: arial;
}
h1,h2, h3{
    font-family: cooper;
}
#messages {
    display: none;
}
.edit-input {
    display: none;
  }
button {
    margin-right: 10px;
}
span {
    margin-right: 10px;
}
a {
    margin-right: 10px;
}
li {
    padding: 5px;
}
section {
    padding: 5px;
}
.skills, .messages {
    list-style: square;
    background-color: rgb(102, 241, 236);
}
footer{
    background-color: rgb(164, 233, 52);
    color: brown;
    text-align: center;
    font-size: 80%;
    padding: auto;
}