body{
    background-color: rgb(130, 238, 238);
}
#messages {
    display: none;
}
.edit-input {
    display: none;
  }
button {
    margin-right: 10px;
}
span {
    margin-right: 10px;
}
a {
    margin-right: 10px;
}
li {
    padding: 5px;
}